.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.card-recipe {
  align-items: center;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 150px;
}

.recipe-name {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.recipe-image {
  border-radius: 50%;
  box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.5);
  transform: scale(1.3);
}
