header {
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-around;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.profile-header {
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
}

.search-button {
  background-color: white;
  border-style: none;
}
