.main-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.profile-icon {
  width: 100px;
}

.user-info {
  align-items: center;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-info h3 {
  font-size: 20px;
}

.profile-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
}

.profile-buttons button {
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 0  1rem rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 200px;
}
